<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ragz.benchmarkapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/android_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ToastActivity"
            android:label="Toast Position" />
        <activity
            android:name=".WebActivity"
            android:label="Web View" />
        <activity
            android:name=".MessageActivity"
            android:label="Send Message" />
        <activity android:name=".VibrateActivity" />
        <activity
            android:name=".MassageApp"
            android:label="Massage App" />
        <activity
            android:name=".LifeCycleActivity"
            android:label="Android Life Cycle" />
        <activity
            android:name=".NavigationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Navigator">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ResultActivity" />
        <activity android:name=".AnimationActivity" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".DisplayImageActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AudioPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".AudioUrlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".VideoUrlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".RegistrationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>