<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ragz.benchmarkapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission-sdk-23 android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/android_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BenchMarkActivity" />
        <activity
            android:name=".ToastActivity"
            android:label="Toast Position" />
        <activity
            android:name=".WebActivity"
            android:label="Web View" />
        <activity
            android:name=".MessageActivity"
            android:label="Send Message" />
        <activity android:name=".VibrateActivity" />
        <activity
            android:name=".MassageApp"
            android:label="Massage App" />
        <activity
            android:name=".LifeCycleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Android Life Cycle" />
        <activity
            android:name=".NavigationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Navigator">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ResultActivity" />
        <activity android:name=".AnimationActivity" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".DisplayImageActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AudioPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".AudioUrlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".VideoUrlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".RegistrationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".DemoAsyncTaskActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".WinUiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@mipmap/ic_win_metro"
            android:label="Metro Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SensorListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Sensor List" />
        <activity android:name=".ImageEditorActivity" />
        <activity android:name=".SensorValuesActivity" />
        <activity android:name=".A1" />
        <activity android:name=".A2" />
        <activity android:name=".DisplayContactActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>